# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

lain-deployd*
assets_gen.go
deployd*
.idea/
bin/
vendor/
*DS_Store
coverage.txt
default.etcd/
etcd-v2.3.7-linux-amd64.tar.gz
etcd-v2.3.7-linux-amd64/